# Gitignore for a simple web project
# Operating System
.DS_Store

# IDEs and editors
.vscode/
.idea/

# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Logs
*.log

# Thumbnails
.sass-cache/
.webassets-cache/
*.pyc
*.swp
*.bak
*.swo
*~
.stack-work/
.stack-work-gem/

# Gemini CLI
.geminiignore